// colors
$white: #ffffff;
$black: #000000;
$red: #7F0E36;


//Media device sizes
$desktop: 1220px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
