// Menu section

.menu-section {
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 400px;
}


// Deliver

.deliver {
    text-align: center;
    margin-bottom: 110px;

    @media screen and (max-width:767px) {
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 55px;
        
    }
}

.deliver__heading {
    @include subheading;
    margin-bottom: 25px;
}

.deliver__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width:$tablet) {
        flex-direction: row;
        
    }
}

.deliver__item {
    &:not(:last-child) {
        margin-bottom: 20px;

        @media screen and (min-width:$tablet) {
            margin-bottom: 0;
            margin-right: 20px;
            
        }
    }
}

.deliver__button {
    @include filter-button-text;
    @extend %filter-button;
    width: 155px;
    background-color: $white;

    color: $black;
    font-weight: 700;

    @media screen and (min-width:$desktop) {
        width: 181px;
        
    }
}


// Filter buttons

.filter {
    margin-bottom: 110px;
    

    @media screen and (max-width:767px) {
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        
    }


}

.filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -17px;
    justify-content: space-between;
}

.filter__item {
    margin-bottom: 17px;

    // &:not(:last-child) {
    //     margin-right: 17px;
    // }

    @media screen and (min-width:$desktop) {
        width: calc((100% - 17px * 4) / 5);

        
    }
}

.filter__button {
    @include filter-button-text;
    @extend %filter-button;
    width: 155px;
    background-color: #000000;
    border: 1px solid #FFFFFF;

    @media screen and (min-width:$desktop) {
        width: 100%;

        
    }
    

    &:hover,
    &:focus {
        color: #AA0B4E;
    }
}


// Product Gallery

.product-gallery__list {
    
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
        // justify-content: center;
    }
}

.product-gallery__item {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;


    &:not(:last-child) {
        
        @media screen and (max-width:767px) {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width:$tablet) {
        max-width: 400px;
        margin: 20px; 
        width: calc((100% - 4 * 20px) / 2);
    }

    @media screen and (min-width:$desktop) {
        width: calc((100% - 6 * 20px) / 3);
    }
}

.product-gallery__thumb {
    padding: 0px 30px 40px 40px;
}

.product-gallery__title {
    @include item-heading;
    color: $white;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.product-gallery__text {
    @include navigation;
    letter-spacing: 0.15em;
    text-transform: capitalize;
}

.product-gallery__image {
    display: block;
    width: 100%;
    height: 100%;
}